ACCOUNT_SID=your_sid_here
AUTH_TOKEN=your_token_here
TWILIO_SMS=your_number
TWILIO_WHATSAPP=whatsapp:+xxxx
MY_PHONE=+91xxxxxxxxxx
MY_WHATSAPP=whatsapp:+91xxxxxxxxxx
SENDER_EMAIL=your_email
APP_PASSWORD=your_app_password